<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="tests" thread-count="2">
    <test name="Register User">
        <classes>
            <class name="com.springboot.webautomation.tests.NewUserTest"/>
        </classes>
    </test>

    <test name="Login Test">
        <classes>
            <class name="com.springboot.webautomation.tests.LoginTest"/>
        </classes>
    </test>

</suite>
